
@{
    Layout = null;
}

<h3>Örnek Tablo|Category Tablosu</h3>
<br />
<table>
    <tr>
        <th> Id</th>
        <th> Adı</th>
        <th> Açıklama</th>
        <th> Durum</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklaması yapıldı</td>
        <td> True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklaması yapıldı</td>
        <td> True</td>
    </tr>
</table>
