
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Yazılım</td>
        <td>Aktif</td>
    </tr>

</table>

